{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="thead-dark">
                <th>NO.</th>
                <th>title</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            {% if question_list %}
            {% for question in question_list.items %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ url_for('question.detail', question_id=question.id) }}/">{{ question.subject }}</a>
                </td>
                <td>{{ question.create_date }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">NO QUESTOINS</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        {% if question_list.has_prev %}
        <li class="page-item">
            <a href="?page={{ question_list.prev_num }}" class="page-link">prev</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" tabindex="-1" aria-disabled="true" class="page-link">prev</a>
        </li>
        {% endif %}
        {% for page_num in question_list.iter_pages() %}
        {% if page_num %}
        {% if page_num != question_list.page %}
        <li class="page-item">
            <a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <a href="#" class="page-link">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a href="#" class="page-link">...</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if question_list.has_next %}
        <li class="page-item">
            <a href="?page={{ question_list.next_num }}" class="page-link">next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" tabindex="-1" aria-disabled="true" class="page-link">next</a>
        </li>
        {% endif %}
    </ul>
    <a href="{{ url_for('question.create') }}" class="btn btn-primary">Enlist a question</a>
</div>
{% endblock %}